# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# JIT snapshots created by path-source `dart pub global activate` — the
# wrapper at ~/.pub-cache/bin/oracular looks for them next to main.dart.
bin/main.dart-*.snapshot

